.footer {
  .container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: stretch;
    position: relative;
    background-color: #222;
    color: white;

    .footer-top {
      max-width: 1760px;
      padding: 20px 10px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .related {
        .ft-btn {
          display: none;
          color: white;
        }

        .related-list {
          display: flex;
          flex-wrap: wrap;

          li {
            flex-shrink: 0;
            margin-left: 1.6rem;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              transform: scaleX(0);
              transform-origin: left;
              width: 100%;
              height: 1px;
              background-color: #DDD;
              transition: 0.3s;
            }
            &:hover::after {
              transform: scaleX(1);
            }
            &:first-child {
              margin-left: 0;

              &::before {
                display: none;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -0.8rem;
              width: 1px;
              height: 12px;
              margin-top: -6px;
              background-color: #4E4E4E;
            }
          }
        }
      }

      .sns {
        .ft-btn {
          display: none;
          color: white;
        }

        .sns-list {
          display: flex;
          gap: 16px;
          padding-left: 16px;

          .icon-wrap {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 24px;
            height: 24px;

            li {
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              transition: 0.3s;
              filter: brightness(0) invert(1);

              &:first-child {
                top: 0;
              }

              &:last-child {
                top: 140%;
              }
            }

            &:hover {
              li:first-child {
                transform: translateY(-100%);
              }

              li:last-child {
                transform: translateY(-140%);
              }
            }
          }
        }
      }
    }

    @media(max-width:840px) {
      .footer-top {
        padding: 20px 0;
        justify-content: center;
        align-items: center;

        .related {
          padding: 0 22px;
          flex: 1;

          .ft-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }

          .related-list {
            display: none;
          }
        }

        .sns {
          flex: 1;
          padding: 0 22px;

          .ft-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }

          .sns-list {
            display: none;
          }
        }
      }
    }
  }

  .footer-content {
    max-width: 1760px;
    margin: 0 auto;
    display: flex;
    
    .footer-inner {
      width: 100%;
      padding: 0 10px 50px 10px;
      display: flex;
      justify-content: space-between;

      .footer-left {

        .footer-menu {
          display: flex;
          margin-bottom: 20px;

          li {
            font-size: 18px;
            font-weight: 600;

            &:first-child {
              color: #11569A;

              &::before {
                display: none;
              }
            }
            &::before {
              display: inline-block;
              width: 3px;
              height: 3px;
              margin: 0 10px;
              border-radius: 100%;
              background-color: #B1B1B1;
              content: "";
              vertical-align: middle;
            }
            &:last-child{
              @media (max-width:940px) {
                display: none;
              }
            }
          }
        }

        .footer-info {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          line-height: 19px;
          color: #767676;
          @media (max-width:1280px) {
            font-size: 14px;
            line-height: 17px;
          }
          

          .info-left {
            display: flex;
            @media (max-width:940px) {
              flex-direction: column;
            }
          }

        }
      }
      .footer-right{
        display: flex;
        justify-content: flex-end;
        @media (max-width:940px) {
          display: none;
        }
      }
    }
  }
}