
.news{
  --section-left:830px;
  background-image: url(../img/section2-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  .section-inner{
    color: white;
    padding:100px 0;
    .section-sub{
      margin-bottom: 25px;
    }
    .section-title{
      color: #ffffffb3;
      margin-bottom: 70px;
    }
    .news-content{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .section-left{
        width: var(--section-left);
        .news-tabs {
          display: flex;
          gap: 20px;
          padding-bottom: 10px;
          .news-tab{
            font-size: 21px;
            color: white;
            position: relative;
            &::after{
              content: "";
              opacity: 0;
              top: -10px;
              -webkit-transition: all 0.2s;
              transition: all 0.2s;
              position: absolute;
              left: 50%;
              width: 7px;
              height: 7px;
              margin-left: -3px;
              background-color: #fff;
              border-radius: 100%;
            }
            &::before{
              content: "";
              position: absolute;
              -webkit-transition: all 0.2s;
              transition: all 0.2s;
              bottom: -13px;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: #fff;
            }
            &:hover::after,&.active::after{
              top:-15px;
              opacity: 1;
            }
            &.active::before{
              width: 100%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
              -webkit-transition: all 0.2s;
              transition: all 0.2s;
            }
          }
          .news-more{
            display: flex;
            align-items: center;
            color: white;
            margin-left: auto;
            font-size: 24px;
            background: #00000026;
            border: none;
            cursor: pointer;
            padding: 5px;
            border-radius: 100%;
            ion-icon{
              transition: transform 0.3s;
            }
            &:hover ion-icon{
              transform: rotate(180deg);
            }
          }
        }
        .news-list{
          position: relative;
          padding-top: 10px;
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 2px solid #ffffff26;
            top: 1px;

          }
          .news-item>a{
            display: flex;
            margin: 10px 0;
            .category{
              display: inline-block;
              padding: 0 0.6rem;
              border-radius: 3px;
              font-size: 14px;
              line-height: 27px;
              margin-right: 13px;
              &.notice{background-color: #FF3D3D;}
              &.kiomnews{background-color: #6D858E;}
              &.employ{background-color: #0F659A;}
              &.bid{background-color: #138484;}
            }
            .title{
              width: calc(100% - 160px);
              position: relative;
              padding-right: 18px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              &:hover{
                text-decoration: underline #fff;
              }
              .new{
                vertical-align: middle;
                background: white;
                padding: 2px 4px;
                font-size: 7px;
                border-radius: 100%;
                font-weight: 700;
                color: black;
              }
            }
            .date{margin-left: auto;}
          }
        }
      }
      .section-right{
        width: calc(100% - var(--section-left));
        padding-left: 70px;
        .section-head{
          display: flex;
          justify-content: space-between;
          h2{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
          }
          .popupzone-btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            .popupzone-pagination{
              scale: 1.2;
              .swiper-pagination-bullet-active{
               background: white;
               
              }
            }
            .popupzone-pbtn{
              height: 28px;
              width: 28px;
              display: flex;
              align-items: center;
              justify-content: center;
              .popup-play-btn{
                scale: 1.4;
                display: none;
                color: white;
              }
              .popup-pause-btn{
                scale: 1.4;
                color: white;
              }
            }
          }
          
        }
        .popupzoneSwiper{
          .swiper-wrapper{
            .swiper-slide{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  @media (max-width:1280px){
    --section-left:747px;
  }
  @media (max-width:1140px) {
    --section-left:640px;
  }
  @media (max-width:980px){
    --section-left:540px
  }
  @media (max-width:840px){
    background-size: cover;
    .section-inner{
      .news-content{
        flex-direction: column;
        gap: 40px;
        .section-left,.section-right{width: 100%;}
        .section-right{
          padding: 0;
        }
      }
    }
  }
}