
.popup{
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;
  color: white;
  &.show{display:block;}
  .popup-overlay{
    position:absolute;
    inset:0;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,.35);
  }

  .popup-inner{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 60%;
    border-radius:14px;
    .popup-title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 26px;
      letter-spacing: 10px;
      width: 90%;
      margin:0 auto 80px;
      color: white;
      &::before,&::after{
        content: '';
        flex: 1;
        height: 1px;
        background: #fff;
      }
    }
  }

  .popup-content{
    height: 35vh;
    background: url(../img/popup.png) center / contain no-repeat;
    padding:40px 32px;
    text-align:center;
  }
  
  .popup-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .popup-side{
      p{
        span{
          color: rgb(255, 196, 0);
        }
      }
    }
    .popup-button{
      position: relative;
      margin: 0 10px;
      .popup-close,.popup-close-date{
        border: 0.5px solid rgba(255,255,255,0.5);
        border-radius: 4rem;
        color: white;
        background:none;
        font-size: 16px;
        padding: 7px 14px;
        cursor:pointer;
      }
  }
  }
}

/* 모바일 */
@media (max-width:768px){
  .popup .popup-inner{
    width:92%;
  }
}

@media (max-width:500px){
  .popup-bottom{
    flex-direction: column;
    align-items: center;
  }
}